@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  max-width: 80ch;
  font-family: 'Roboto';
}

.new {
  border-bottom: 1px dashed black;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  border-bottom: 1px dotted;
  margin-left: 20px;
}

code {
  font-size: 1.2em;
}

h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

details h3 {
  display: inline;
}

details {
  margin-bottom: 10px;
}

details[open] {
  border-bottom: 1px solid black;
}

details summary {
  display: inline;
  border-bottom: 1px dotted;
  outline-style: none;
  cursor: pointer;
}

.sfooter {
  display: flex;
}

.sfooter-item {
  width: 50%;
}

.sfooter-links {
  list-style: none;
  margin-top: 0;
  padding-left: 0px;
}

.index-link {
  list-style: none;
}

.index-link li {
  margin-bottom: 10px;
}

.part {
  text-decoration: underline;
}

ol {
  counter-reset: li_counter;
}

ol li {
  list-style: none;
  position: relative;
}

ol li::before {
  counter-increment: li_counter;
  content: counters(li_counter, ".")")";
  position: absolute;
  left: -2ch;
}

ol ol li::before {
  left: -4ch;
}

ol ol ol li::before {
  left: -6ch;
}

ol li.done::after {
  content: "+";
  position: absolute;
  left: -4ch;
}

.update {
  font-style: italic;
}
