@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  max-width: 80ch;
  font-family: 'Roboto';
}

.new {
  border-bottom: 1px dashed black;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  border-bottom: 1px dotted;
  margin-left: 20px;
}

code {
  font-size: 1.2em;
}

h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

details h3 {
  display: inline;
}

details {
  margin-bottom: 10px;
}

details[open] {
  border-bottom: 1px solid black;
}

details summary {
  display: inline;
  border-bottom: 1px dotted;
  outline-style: none;
  cursor: pointer;
}

img {
  max-width: 80ch;
}

.sfooter {
  display: flex;
  flex-direction: column;
}

.sfooter-item {
  width: 80%;
}

.sfooter-links {
  list-style: none;
  margin-top: 0;
  padding-left: 0px;
}

.index-link {
  list-style: none;
}

.index-link li {
  margin-bottom: 10px;
}

.part {
  text-decoration: underline;
}

ol {
  counter-reset: li_counter;
  line-height: 1.4em;
}

ol li {
  list-style: none;
  position: relative;
}

ol li::before {
  counter-increment: li_counter;
  content: counters(li_counter, ".")")";
  position: absolute;
  left: -3ch;
}

ol ol li::before {
  left: -4ch;
}

ol ol ol li::before {
  left: -6ch;
}

ol li.done::after {
  content: "+";
  position: absolute;
  left: -4ch;
}

.update {
  font-style: italic;
}

.warning {
  border-left: 3px solid black;
  padding-left: 0px; /* Расстояние между линией и текстом */
}

.img-capture {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg .tg-cly1{text-align:center;vertical-align:middle}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:center;vertical-align:top}

.menuselection, .path{
    /*background: #7fbbe3;*/
    font-size: 85%;
    border: 1px solid #000000;
    font-weight: 900;
    border-radius: 4px;
    padding: 2.4px 6px;
    margin: auto 2px;
}

/*code.path {
  font-size: 85%;
  border: 0.5px solid #000000;
  font-weight: 700;
  border-radius: 4px;
  padding: 2.4px 6px;
  margin: auto 2px;
}*/